---
http_interactions:
- request:
    method: get
    uri: https://photon.komoot.io/api?lang=en&q=123%20SE%204th%20St%20New%20York,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"features":[{"geometry":{"coordinates":[-73.9845629,40.7560233],"type":"Point"},"type":"Feature","properties":{"osm_id":2717543654,"country":"United
        States","city":"New York","countrycode":"US","postcode":"10036","locality":"Times
        Square","type":"house","osm_type":"N","osm_key":"amenity","housenumber":"123","street":"West
        43rd Street","district":"Manhattan","osm_value":"theatre","name":"The Town
        Hall","state":"New York"}},{"geometry":{"coordinates":[-73.9848055,40.7405356],"type":"Point"},"type":"Feature","properties":{"osm_id":2704161395,"country":"United
        States","city":"New York","countrycode":"US","postcode":"10010","locality":"Flatiron
        District","type":"house","osm_type":"N","osm_key":"place","housenumber":"123","street":"East
        24th Street","district":"Manhattan","osm_value":"house","state":"New York"}},{"geometry":{"coordinates":[-73.99356815,40.74362025],"type":"Point"},"type":"Feature","properties":{"osm_id":264649444,"extent":[-73.9938003,40.7438091,-73.9933634,40.7433941],"country":"United
        States","city":"New York","countrycode":"US","postcode":"10011","locality":"Chelsea
        District","type":"house","osm_type":"W","osm_key":"building","housenumber":"123","street":"West
        23rd Street","district":"Manhattan","osm_value":"church","name":"St. Vincent
        de Paul Church","state":"New York"}},{"geometry":{"coordinates":[-73.844344,40.7569588],"type":"Point"},"type":"Feature","properties":{"osm_id":5[...]
