---
http_interactions:
- request:
    method: get
    uri: https://photon.komoot.io/reverse?lang=en&lat=40.7560233&lon=-73.9845629
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"features":[{"geometry":{"coordinates":[-73.9845629,40.7560233],"type":"Point"},"type":"Feature","properties":{"osm_id":2717543654,"country":"United
        States","city":"New York","countrycode":"US","postcode":"10036","locality":"Times
        Square","type":"house","osm_type":"N","osm_key":"amenity","housenumber":"123","street":"West
        43rd Street","district":"Manhattan","osm_value":"theatre","name":"The Town
        Hall","state":"New York"}}],"type":"FeatureCollection"}'
  recorded_at: Fri, 15 Mar 2024 18:31:48 GMT
recorded_with: VCR 6.2.0
