---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=7e475559f84362711dada9890e161b6c&lat=40.7560233&lon=-73.9845629&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1713765600,"main":{"temp":45.7,"feels_like":41.2,"temp_min":45.7,"temp_max":45.7,"pressure":1016,"sea_level":1016,"grnd_level":1014,"humidity":49,"temp_kf":0},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":69},"wind":{"speed":8.75,"deg":318,"gust":18.79},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-22
        06:00:00"},{"dt":1713776400,"main":{"temp":44.71,"feels_like":40.17,"temp_min":42.73,"temp_max":44.71,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":50,"temp_kf":1.1},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":58},"wind":{"speed":8.34,"deg":314,"gust":20.6},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-22
        09:00:00"},{"dt":1713787200,"main":{"temp":44.28,"feels_like":38.59,"t[...]
