---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?lat=40.7560233&lon=-73.9845629&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1710558000,"main":{"temp":53.33,"feels_like":51.37,"temp_min":51.31,"temp_max":53.33,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":64,"temp_kf":1.12},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"clouds":{"all":34},"wind":{"speed":9.66,"deg":0,"gust":14.54},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-03-16
        03:00:00"},{"dt":1710568800,"main":{"temp":51.15,"feels_like":48.97,"temp_min":49.55,"temp_max":51.15,"pressure":1010,"sea_level":1010,"grnd_level":1008,"humidity":64,"temp_kf":0.89},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":57},"wind":{"speed":7.61,"deg":349,"gust":9.71},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-03-16
        06:00:00"},{"dt":1710579600,"main":{"temp":47.86,"feels_like":44.4,"t[...]
