---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=7e475559f84362711dada9890e161b6c&lat=40.7560233&lon=-73.9845629&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9846,"lat":40.756},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":46.53,"feels_like":42.53,"temp_min":46.53,"temp_max":46.53,"pressure":1016,"humidity":48,"sea_level":1016,"grnd_level":1014},"visibility":10000,"wind":{"speed":8.01,"deg":320,"gust":17.72},"clouds":{"all":65},"dt":1713762064,"sys":{"country":"US","sunrise":1713780350,"sunset":1713829349},"timezone":-14400,"id":5125771,"name":"Manhattan","cod":200}'
  recorded_at: Mon, 22 Apr 2024 05:01:04 GMT
recorded_with: VCR 6.2.0
